RUST_LOG=debug
RUST_BACKTRACE=1

IMGFLUX__LISTEN=0.0.0.0:8686
IMGFLUX__FORMAT_NEGOTIATION=false
IMGFLUX__IMAGE__BASE_DIR=tmp/www
IMGFLUX__IMAGE__DEFAULT_QUALITY=75
IMGFLUX__IMAGE__NO_WAIT=true
IMGFLUX__IMAGE__MAX_QUEUE=128